.experiencePage {
    padding: 2.5%;
    z-index: 1;

    .quote {
        padding: 5%;
        background-color: @mainFont;
        border-radius: 10px;
        color: @backgroundLight;
        border: 5px solid @secondaryFont;
        -webkit-text-stroke: 1px @backgroundDark;
        align-content: center;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

        h1 {
            display: flex;
            justify-content: center;
        }

        h4 {
            color: @backgroundDark;
            -webkit-text-stroke: 0px;
            display: flex;
            justify-content: center;
        }
    }

    .story {
        padding: 2%;
        font-weight: bold;
        
        h1 {
            display: flex;
            justify-content: center;
            border-bottom: 3px solid @backgroundDark;
            -webkit-text-stroke: 1px @backgroundDark;
            padding: 3%;
            color: @secondaryFont;
        }
        
        p {
            padding: 5%;
            text-align:justify;
        }
    }

    .experience {
        padding: 2%;

        h1 {
            display: flex;
            justify-content: center;
            padding-bottom: 4%;
            color: @secondaryFont;
            border-bottom: 3px solid @backgroundDark;
            -webkit-text-stroke: 1px @backgroundDark;
        }
        .download{
            padding: 1.5%;
            text-align:center;
            a{
                font-weight:bolder;
                text-decoration-color: @mainFont;
                color: @secondaryFont;
                -webkit-text-stroke: 0.75px @backgroundDark;

            }
        }
        
        .singleJob {
            width: 100%;
            padding: 4%;
            
            .companyName {
                text-align: left;
                color: @secondaryFont;
            }
            
            .date {
                text-align: left;
                font-weight: bolder;
                color: @mainFont;
            }

            .jobDetails {
                padding: 2.5%;

                h4 {
                    text-align: left;
                    color: @secondaryFont;
                }
                
                ul {
                    text-align: left;
                    list-style: none;
                }
                li{
                    text-align: left;
                }
                
                ul li::before {
                    content: "\2022";
                    /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: @secondaryFont;
                    /* Change the color */
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
    }

    .education {
        padding: 2%;

        h1 {
            display: flex;
            justify-content: center;
            color: @secondaryFont;
            padding-bottom: 4%;
            border-bottom: 3px solid @backgroundDark;
            -webkit-text-stroke: 1px @backgroundDark;
        }

        .singleInstitute {
            padding: 2.5%;
            
            .instituteName {
                text-align: left;
                color: @secondaryFont
            }
            
            .date {
                text-align: left;
                font-weight: bold;
            }
            
            .certification{
                text-align: left;
            }
        }
    }
}