.homePage {
    position: relative;

    .intro {
        padding: 10%;
        padding-top: 15%;
        .initFlex();
        max-width: 100%;
        justify-content: center;

        .type {
            width: 45%;
        }

        h1 {
            padding: 1%;
            padding-top: 7%;
            width: 45%;
            -webkit-text-stroke: 1px @mainFont;
            color: @backgroundDark;
            text-align: center;
        }

        img {
            max-width: 45%;
            border: 7.5px solid @mainFont;
            border-radius: 225px;
            height: 10%;
        }

        flex-direction: row;
    }

    .about {
        padding: 3%;
        padding-bottom: 7.5%;

        h1 {
            display: flex;
            color: @secondaryFont;
            padding: 10%;
            -webkit-text-stroke: 1px @backgroundDark;
            justify-content: center;
        }

        h3 {
            font-size: larger;
            text-align: center;
        }
    }
}