.projects {
    z-index: 1;
    .singleProject {
        padding: 1.5%;
        justify-content: center;

        h2 {
            padding: 2.5%;
            color: @backgroundDark;
            text-align: center;
            width: 100%;
            text-shadow: 2px 2px 0px @secondaryFont, 1.5px 1.5px 0px @secondaryFont, 1px 1px 0px @secondaryFont, 0.5px 0.5px 0px @secondaryFont;
        }

        form {
            padding: 2.5%;
            text-align: center;
            input {
                background-color: @mainFont;
                color: @backgroundLight;
                font-weight: bold;
                border: 2px solid @backgroundDark;
                border-radius: 5px;
                ;
            }
        }

        p {
            color: @backgroundDark;
            text-align: center;
        }

        .video {
            display: flex;
            justify-content: center;
            padding: 2.5%;
        }
    }
}