* {
  margin: 0;
  text-align: center;
}
html,
body {
  background-color: #e1e6e1;
  color: #1282a2;
}
.navBar {
  border-bottom: 2.5px solid #e1e6e1;
  top: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  background-color: #252525;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.navBar div {
  max-width: 45%;
  display: flex;
  flex-wrap: nowrap;
}
.navBar div h1 {
  display: flex;
  flex-wrap: nowrap;
  padding: 1%;
  padding-right: 2%;
  min-width: fit-content;
  color: #dd614a;
  -webkit-text-stroke: 1px #252525;
  text-shadow: 2px 2px 0px #1282a2, 1.5px 1.5px 0px #1282a2, 1px 1px 0px #1282a2, 0.5px 0.5px 0px #1282a2;
}
.navBar div button {
  background-color: #252525;
  color: #dd614a;
  border-radius: 10px;
  border-color: #909090;
  height: fit-content;
  margin: 1%;
  margin-right: 0.5%;
}
.navBar nav {
  display: flex;
  flex-wrap: nowrap;
  padding: 1%;
  min-width: fit-content;
  margin-right: 3%;
  margin-left: auto;
}
.navBar nav a {
  font-size: large;
  text-decoration: none;
  padding: 1.5%;
  color: #e1e6e1;
  font-weight: bold;
  -webkit-text-stroke: 0.5px #252525;
  text-shadow: 2px 2px 0px #dd614a, 1.5px 1.5px 0px #dd614a, 1px 1px 0px #dd614a, 0.5px 0.5px 0px #dd614a;
}
svg {
  max-height: 100%;
}
.hamburger {
  background-color: #252525;
  border: none;
  margin-right: 0%;
  margin-left: auto;
  max-height: 60px;
  max-width: 60px;
}
@media screen and (max-width: 800px) {
  .navigation-menu ul {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}
@media only screen and (max-device-width: 800px) {
  .navBar {
    justify-content: space-around;
    max-width: 100%;
  }
  .navBar div h1 {
    padding-top: 3%;
    font-size: medium;
  }
  .navBar div button {
    font-size: x-small;
  }
  .navBar nav {
    min-width: 300px;
    justify-content: center;
  }
  .navBar nav a {
    font-size: small;
  }
}
.homePage {
  position: relative;
  height: 100vh;
}
.homePage .intro {
  padding-top: 5%;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-height: fit-content;
  flex-direction: row;
}
.homePage .intro .type {
  width: 45%;
}
.homePage .intro h1 {
  padding: 1%;
  padding-top: 5%;
  min-width: 40%;
  -webkit-text-stroke: 1px #1282a2;
  color: #252525;
  text-align: center;
}
.homePage .intro img {
  max-width: 40%;
  border: 7.5px solid #1282a2;
  border-radius: 225px;
  height: 15%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.homePage .about {
  padding: 2%;
  padding-bottom: 5%;
}
.homePage .about h1 {
  display: flex;
  color: #dd614a;
  padding-bottom: 5%;
  -webkit-text-stroke: 1px #252525;
  justify-content: center;
}
.homePage .about h3 {
  font-size: larger;
  text-align: center;
}
@media only screen and (max-device-width: 600px) {
  .intro {
    padding: 5%;
    max-width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .intro .type {
    width: 45%;
  }
  .intro h1 {
    padding: 1%;
    padding-top: 5%;
    width: 45%;
    font-size: medium;
    -webkit-text-stroke: 1px #1282a2;
    color: #252525;
    text-align: center;
  }
  .intro img {
    max-width: 45%;
    border: 7.5px solid #1282a2;
    border-radius: 225px;
    height: 10%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}
.experiencePage {
  padding: 2.5%;
}
.experiencePage .quote {
  padding: 5%;
  background-color: #1282a2;
  border-radius: 10px;
  color: #e1e6e1;
  border: 5px solid #dd614a;
  -webkit-text-stroke: 1px #252525;
  align-content: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.experiencePage .quote h1 {
  display: flex;
  justify-content: center;
}
.experiencePage .quote h4 {
  color: #252525;
  -webkit-text-stroke: 0px;
  display: flex;
  justify-content: center;
}
.experiencePage .story {
  padding: 2%;
  font-weight: bold;
}
.experiencePage .story h1 {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #252525;
  -webkit-text-stroke: 1px #252525;
  padding: 3%;
  color: #dd614a;
}
.experiencePage .story p {
  padding: 5%;
}
.experiencePage .experience {
  padding: 2%;
}
.experiencePage .experience h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
  color: #dd614a;
  border-bottom: 3px solid #252525;
  -webkit-text-stroke: 1px #252525;
}
.experiencePage .experience .download {
  padding: 1.5%;
  text-align: center;
}
.experiencePage .experience .download a {
  text-decoration-color: #1282a2;
  color: #dd614a;
  -webkit-text-stroke: 1px #252525;
}
.experiencePage .experience .singleJob {
  width: 100%;
  padding: 4%;
}
.experiencePage .experience .singleJob .companyName {
  text-align: left;
  color: #dd614a;
}
.experiencePage .experience .singleJob .date {
  text-align: left;
  font-weight: bold;
  color: #1282a2;
}
.experiencePage .experience .singleJob .jobDetails {
  padding: 2.5%;
}
.experiencePage .experience .singleJob .jobDetails h4 {
  text-align: left;
  color: #dd614a;
}
.experiencePage .experience .singleJob .jobDetails ul {
  text-align: left;
  list-style: none;
}
.experiencePage .experience .singleJob .jobDetails li {
  text-align: left;
}
.experiencePage .experience .singleJob .jobDetails ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #dd614a;
  /* Change the color */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.experiencePage .education {
  padding: 2%;
}
.experiencePage .education h1 {
  display: flex;
  justify-content: center;
  color: #dd614a;
  padding-bottom: 4%;
  border-bottom: 3px solid #252525;
  -webkit-text-stroke: 1px #252525;
}
.experiencePage .education .singleInstitute {
  padding: 2.5%;
}
.experiencePage .education .singleInstitute .instituteName {
  text-align: left;
  color: #dd614a;
}
.experiencePage .education .singleInstitute .date {
  text-align: left;
  font-weight: bold;
}
.experiencePage .education .singleInstitute .certification {
  text-align: left;
}
.contact {
  padding: 2.5%;
  height: 100vh;
}
.contact .img {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 3%;
}
.contact .img img {
  max-width: 55%;
  border: 7px solid #252525;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.contact .info h2 {
  text-align: left;
  padding: 1%;
}
.contact .info h2 span {
  text-align: right;
}
.contact .info .phone {
  justify-content: left;
  text-align: left;
}
.contact .info .phone .propertyName {
  text-align: left;
  display: inline-block;
  width: 20%;
  color: #dd614a;
}
.contact .info .phone .propertyValue {
  display: inline-block;
  text-align: right;
  width: 75%;
  color: #1282a2;
}
.contact .info .email .propertyName {
  text-align: left;
  display: inline-block;
  width: 20%;
  color: #1282a2;
}
.contact .info .email .propertyValue {
  display: inline-block;
  text-align: right;
  width: 75%;
  color: #dd614a;
}
.contact .info .email .propertyValue a {
  color: #dd614a;
  text-decoration: none;
}
.contact .info .github .propertyName {
  text-align: left;
  display: inline-block;
  width: 20%;
  color: #dd614a;
}
.contact .info .github .propertyValue {
  display: inline-block;
  text-align: right;
  width: 75%;
  color: #1282a2;
}
.contact .info .github .propertyValue a {
  color: #1282a2;
  text-decoration: none;
}
@media only screen and (max-device-width: 600px) {
  .propertyName,
  .propertyValue {
    padding-top: 5%;
    font-size: medium;
  }
}
.projects .singleProject {
  padding: 1.5%;
  justify-content: center;
}
.projects .singleProject h2 {
  padding: 2.5%;
  color: #252525;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 0px #dd614a, 1.5px 1.5px 0px #dd614a, 1px 1px 0px #dd614a, 0.5px 0.5px 0px #dd614a;
}
.projects .singleProject form {
  padding: 2.5%;
  text-align: center;
}
.projects .singleProject form input {
  background-color: #1282a2;
  color: #e1e6e1;
  font-weight: bold;
  border: 2px solid #252525;
  border-radius: 5px;
}
.projects .singleProject p {
  color: #252525;
  text-align: center;
}
.projects .singleProject .video {
  display: flex;
  justify-content: center;
  padding: 2.5%;
}
body[data-theme="dark"] {
  background-color: #252525;
  color: #e1e6e1;
}
body[data-theme="dark"] .navBar h1 {
  color: #1282a2;
  text-shadow: 2px 2px 0px #dd614a, 1.5px 1.5px 0px #dd614a, 1px 1px 0px #dd614a, 0.5px 0.5px 0px #dd614a;
}
body[data-theme="dark"] .navBar nav a {
  color: #e1e6e1;
  -webkit-text-stroke: 0.5px #252525;
  text-shadow: 2px 2px 0px #1282a2, 1.5px 1.5px 0px #1282a2, 1px 1px 0px #1282a2, 0.5px 0.5px 0px #1282a2;
}
body[data-theme="dark"] .navBar nav button {
  color: #1282a2;
}
body[data-theme="dark"] .homePage .intro h1 {
  color: #e1e6e1;
  -webkit-text-stroke: 1px #dd614a;
}
body[data-theme="dark"] .homePage .intro img {
  border: 7px solid #dd614a;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}
body[data-theme="dark"] .homePage .about {
  background-color: #252525;
}
body[data-theme="dark"] .homePage .about h1 {
  color: #1282a2;
  -webkit-text-stroke: 1px #e1e6e1;
}
body[data-theme="dark"] .homePage .about p {
  color: #e1e6e1;
}
body[data-theme="dark"] .experiencePage .quote {
  background-color: #dd614a;
  border-radius: 10px;
  color: #252525;
  border: 5px solid #1282a2;
  -webkit-text-stroke: 1px #e1e6e1;
}
body[data-theme="dark"] .experiencePage .quote h4 {
  color: #e1e6e1;
  align-items: right;
  -webkit-text-stroke: 0px;
}
body[data-theme="dark"] .experiencePage .story h1 {
  color: #1282a2;
  border-bottom: 3px solid #e1e6e1;
  -webkit-text-stroke: 1px #e1e6e1;
}
body[data-theme="dark"] .experiencePage .story p {
  color: #e1e6e1;
}
body[data-theme="dark"] .experiencePage .experience h1 {
  color: #1282a2;
  border-bottom: 3px solid #e1e6e1;
  -webkit-text-stroke: 1px #e1e6e1;
}
body[data-theme="dark"] .experiencePage .experience .companyName {
  color: #1282a2;
}
body[data-theme="dark"] .experiencePage .experience .date {
  color: #dd614a;
}
body[data-theme="dark"] .experiencePage .experience .jobDetails h4 {
  color: #1282a2;
}
body[data-theme="dark"] .experiencePage .experience .jobDetails ul li::before {
  color: #dd614a;
}
body[data-theme="dark"] .experiencePage .education h1 {
  color: #1282a2;
  border-bottom: 3px solid #e1e6e1;
  -webkit-text-stroke: 1px #e1e6e1;
}
body[data-theme="dark"] .experiencePage .education .date {
  color: #dd614a;
}
body[data-theme="dark"] .experiencePage .education .singleInstitute .instituteName {
  color: #1282a2;
}
body[data-theme="dark"] .projects .singleProject {
  padding: 25px;
}
body[data-theme="dark"] .projects .singleProject h2 {
  padding: 15px;
  color: #e1e6e1;
  text-shadow: 2px 2px 0px #1282a2, 1.5px 1.5px 0px #1282a2, 1px 1px 0px #1282a2, 0.5px 0.5px 0px #1282a2;
}
body[data-theme="dark"] .projects .singleProject form {
  padding: 15px;
}
body[data-theme="dark"] .projects .singleProject form input {
  background-color: #252525;
  color: #dd614a;
  border: 2px solid #1282a2;
}
body[data-theme="dark"] .projects .singleProject p {
  color: #e1e6e1;
}
body[data-theme="dark"] .contact img {
  border: 7px solid #e1e6e1;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
}
